.intro {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
  background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}

h1 {
  font-family: "Rye", cursive;
}

.row {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background: #b1f4cf;
}
